@import "./vars";
@import "./responsive";

.icono{
    width: auto;
    height: 100px;
    animation: $animation;
    animation-name: aparecer;
}

img{
    
    animation: $animation;
    animation-name: aparecer;

}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

ul{
    list-style: none;
}




.nav-link{
    color: white;
    text-decoration: none;
    padding: 10px;
   
    &:hover{
        color: $light-green;
        @extend .nav-link;    
    }

    &--tch{
        color: map-get($links, color);
        text-decoration: map-get($links, deco);
    }

    &--ttt{
        color: map-get($links, color);
        text-decoration: map-get($links, deco);
    }

    &--ig{
        color: map-get($links, color);
        text-decoration: map-get($links, deco);
    }
}


.slide img{
    height: 100vh;
    object-fit: cover;
}

.img-fluid{
    height: 50vh;
    object-fit: cover;
}


h1{
    font-size: 3rem;
    font-weight: 700;
    background-color: $black;
    padding: 20px;
    margin: 0;
    color: $light-green;
    @include responsive{
        font-size: 2rem;
    }
}


h2{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    @include responsive{
        font-size: 1rem;
    }
}

span{
    color: $light-green;
}

.imagenes{
    height: 20vh;
    padding: 0px;
    object-fit: cover;
}

.img2{
    height: 50vh;
    object-fit: cover;

}


.compra{
    @extend.nav-link
}

p{
    font-size: 1.5rem;
    margin: 20px;
    @include responsive{
        font-size: 1rem;
    }
}

.head{
    color: $light-green;
}

.mejorar{
    font-size: 2rem;
    background-color: $black;
    font-weight: 700;
    transition: padding 0s;
    @extend .nav-link;
    @include responsive{
        font-size: 1rem;
    }

    &:hover{
        color: $light-green;
        padding: 20px;
    }
}



.table{
    font-size: 2rem;
}


